{{!-- Helper function to load in each review --}}


<div class="trendingImg">

    <div class="results-title"> {{ game_name }}</div>

    <a href="/gameprofile/{{id}}"> <img src="/images/{{ picture }}" /></a>
</div>