<div class="trendingImg img-hover-zoom--colorize">
	<a href="/gameProfile/{{id}}"><img
			src="/images/{{picture}}"
		/></a>
</div>
<div class="searchTitle">
	<a href="/gameProfile/{{id}}">{{game_name}}</a>
</div>