{{!-- Helper function to load in each review --}}


<div class="trendingImg">

    <div class="results-title"> {{ game_name }}</div>

    <img href="/gameprofile/{{id}}" src="/images/{{ picture }}" />
</div>