<div class="gameReviewCard">
    <div class="reviewTitle">
        <h4>R E V I E W S</h4>
    </div>
    {{!-- call function to display each user's review --}}
    <div class="reviewPost">
        <p class="reviewContent">{{review_txt}}</p>
        <p class="reviewScore">{{review_score}}</p>
        <h6 class="reviewUsername">{{user_name}}</h6>
        <p class="reviewDateTime">{{cleanDate created_at}}</p>
    </div>
</div>