{{! This is the handlebar file for search results }}

<div class="result-box">
	<img src />
	<!-- This will be handlebars -->
	<h1>SEARCHED GAME INFO</h1>
	<!-- This will be handlebars -->
	<p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Praesent nibh arcu, faucibus sed risus commodo, convallis rhoncus libero.
		Donec posuere lacus sed justo interdum posuere.</p>
	<!-- first rating will be handlebars -->
	<h2>4 / 5</h2>
	<div class="gameRating">
		<input type="radio" id="star5" name="rate" value="5" />
		<label for="star5" title="text">5 stars</label>
		<input type="radio" id="star4" name="rate" value="4" />
		<label for="star4" title="text">4 stars</label>
		<input type="radio" id="star3" name="rate" value="3" />
		<label for="star3" title="text">3 stars</label>
		<input type="radio" id="star2" name="rate" value="2" />
		<label for="star2" title="text">2 stars</label>
		<input type="radio" id="star1" name="rate" value="1" />
		<label for="star1" title="text">1 star</label>
		<button class="backButton">Back</button>
	</div>

</div>