<div class="placehold">

    <section>
        <div>Username : </div>
        <input id='username' type='text'></input>
        <div>Password : </div>
        <input id='password' type='text'></input>
        <div id='problem' style='color:white'> </div>
        <button class='loginButton' id='login'>Login</button>
    </section>

</div>

<link rel="stylesheet" href="/css/style.css" />
<script src="/js/login.js"></script>