<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gamer's Hideout - A Game Review Forum</title>
		<link rel="stylesheet" href="../../public/css/jass.css" />
		<link rel="stylesheet" href="../../public/css/style.css" />
	</head>
	<body>
		<!-- Background image with some opacity -->
		<div class="mainBackground">
			<div class="topNav">
				<div class="loginButton"><a>Login</a></div>
				<div class="makeAccButton"><a>Make An Account</a></div>
			</div>
			<div class="header">
				<div><h1>GAMER'S HIDEOUT</h1></div>
			</div>
			<div class="searchBar">
				<div class="search">
					<input type="text" placeholder="Search Your Game" />
				</div>
				<div class="searchButton"><button>Search</button></div>
			</div>
		</div>
		<div class="trending">
			<div class="trendingBox">
				<ul>
					This is for trending games
				</ul>
				<ul>
					PLACEHOLDER
                    <img src="../../public/images/game-placeholder-image.jpg">
				</ul>
				<ul>
					PLACEHOLDER
                    <img src="../../public/images/game-placeholder-image.jpg">

				</ul>
				<ul>
					PLACEHOLDER
                    <img src="../../public/images/game-placeholder-image.jpg">

				</ul>
				<ul>
					PLACEHOLDER
                    <img src="../../public/images/game-placeholder-image.jpg">

				</ul>
			</div>
		</div>
	</body>
</html>
