<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gamer's Hideout - A Game Review Forum</title>
		<link rel="stylesheet" href="../../public/css/jass.css" />
		<!-- <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/> -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../../public/css/style.css" />
		<script src="../../public/js/index.js"></script>
	</head>
	<body>
		<!-- Background image with some opacity -->
		<div class="mainBackground">
			<div class="topNav">
				<div class="header typewriter">
					<h1>G A M E R S - H I D E O U T</h1>
				</div>
				<div class="aboutUsButton"><a href="/aboutUs">ABOUT US</a></div>
				<!-- If logged in -->
				<div class="userProfileButton"><a>PROFILE</a></div>
				<div class="logoutButton"><a>LOGOUT</a></div>
				<!-- If logged out -->
				<div class="loginButton"><a>LOGIN</a></div>
				<div class="makeAccButton"><a>CREATE ACCOUNT</a></div>
			</div>
			<!-- This is where handlebars will affect page content -->
			<div class="searchBar">
				<div class="search">
					<input type="text" class="input" placeholder="Search Your Game" />
				</div>
				<div class="searchButton"><button>Search</button></div>
			</div>
			</div>
		</div>

		<!-- About Us page -->

		<div class="profileSection">
			<div class="row">
				<div class="profileCard">
					<div class="profileHeader">
						<h4>ABOUT US</h4>
					</div>
					<div class="aboutUs">
						<p class="aboutUsDetails">
							Gamers Hideout is your one-stop shop to get the latest game
							details, reviews and update information! Share your thoughts and
							comments about each up and coming game with your fellow game
							enthusiasts.
						</p>
					</div>
				</div>

				<div class="profileCard">
					<div class="profileHeader">
						<h4>DEVELOPERS</h4>
					</div>
					<div class="devDetails">
						<p class="devName">Ty Saunders - <a class="github" href="https://github.com/genkidesu" target="_blank"
							>GitHub Profile</a
						></p>
					</div>
					<div class="devDetails">
						<p class="devName">Cam Ball - <a class="github" href="https://github.com/camball96" target="_blank"
							>GitHub Profile</a
						></p>
					</div>
					<div class="devDetails">
						<p class="devName">Nick Bainbridge - <a class="github" href="https://github.com/Frostwrath" target="_blank"
							>GitHub Profile</a
						></p>
					</div>
					<div class="devDetails">
						<p class="devName">Aaron Au Yoong - <a class="github" href="http://github.com/aaronauyoong" target="_blank"
							>GitHub Profile</a
						></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Trending will remain static at the bottom of the webpage -->
		<div class="trendingSection">
			<div class="trendingHeader">
				<h4>T R E N D I N G</h4>
			</div>
			<div class="trendingGallery">
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="../../public/images/pokemon-sword.png" />
					</div>
					<!-- Note: consider removing the trendingTitle div if game images will come with their titles default in the pic -->
					<div class="trendingTitle"><a>POKEMON SWORD</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="../../public/images/fortnite.jpeg" />
					</div>
					<div class="trendingTitle"><a>FORTNITE</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="../../public/images/halo-inf.jpeg" />
					</div>
					<div class="trendingTitle"><a>HALO INFINITE</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="../../public/images/pokemon-shield.jpeg" />
					</div>
					<div class="trendingTitle"><a>POKEMON SHIELD</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="../../public/images/cod-cold-war.jpeg" />
					</div>
					<div class="trendingTitle"><a>CALL OF DUTY - COLD WAR</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
			</div>
		</div>

		<!-- This is the game profile review section -->
		<div class="gameProfileSection">
			<div class="row">
				<div class="gameCard">
					<div class="cardHeader">
						<h4 class="gameTitle">POKEMON SWORD</h4>
						<h4 class="gameRating">4.5 / 5 ★</h4>
					</div>
					<div class="gameImg img-hover-zoom--colorize">
						<img src="../../public/images/pokemon-sword.png" />
					</div>
					<div class="gameProfile">
						<p>A new generation of Pokémon on the Nintendo Switch system. Embark on a journey in the new Galar region, where you’ll challenge the troublemakers of Team Yell, while unraveling the mystery behind the Legendary Pokémon Zacian and Zamazenta!</p>
					</div>
				</div>
				<!-- This is the review/comment section -->
				<div class="gameReviewCard">
					<div class="cardHeader">
						<h4>R E V I E W S</h4>
					</div>
					<div class="reviewPost">
						<p class="reviewContent">
							I love this game! Spent way too many hours playing this game and btw I love Pokémon! 
							Highly recommend!
						</p>
						<p class="reviewUsername">
							Aaron
						</p>
						<p class="reviewDateTime">06/06/2021</p>
					</div>
					<div class="reviewPost">
						<p class="reviewContent">
							Not the biggest fan of Pokémon, but I think they did pretty well this game. 
						</p>
						<p class="reviewUsername">
							Ty
						</p>
						<p class="reviewDateTime">07/06/2021</p>
					</div>
					<div class="reviewPost">
						<p class="reviewContent">
							Nah this ain't it for me, sorry.  
						</p>
						<p class="reviewUsername">
							Cam
						</p>
						<p class="reviewDateTime">07/06/2021</p>
					</div>
					<div class="reviewPost">
						<p class="reviewContent">
							Feels indifferent about this game cause I can be.
							Can probably live without playing this game.   
						</p>
						<p class="reviewUsername">
							Nick
						</p>
						<p class="reviewDateTime">08/06/2021</p>
					</div>
					<!-- Area where users can add their game reviews -->
					<div class="addReview">
						<form class="review-form">
							<div>
								<label for="review-comment" class="form-label review-form">YOUR REVIEW HERE</label>
								<textarea id="review-comment" name="user-review" rows="4" cols="50">
								</textarea>
							</div>
							<div>
								<button type="submit" class="btn submitReviewBtn">POST</button>
							</div>				
						</form>
				</div>
			

				</div>
			</div>
		</div>

		<!-- This is the user profile section -->
		<div class="profileSection">
			<div class="row">
				<div class="profileCard">
					<div class="profileHeader">
						<h4>P R O F I L E</h4>
					</div>
					<div class="profileEmail">
						<p class="profileDetails">Email: usertest@test.com</p>
					</div>
					<div class="updateEmail">
						<p class="updateBtn">UPDATE EMAIL</p>
					</div>
					<div class="profileUsername">
						<p>Username: gamershideout</p>
					</div>
					<div class="updateUsername">
						<p class="updateBtn">UPDATE USERNAME</p>
					</div>
					<div class="profilePassword">
						<p>Password: *************</p>
					</div>
					<div class="updatePassword">
						<p class="updateBtn">UPDATE PASSWORD</p>
					</div>
					<div class="deleteProfile">
						<p class="deleteBtn deleteProfile">DELETE PROFILE</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
