<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gamer's Hideout - A Game Review Forum</title>
		<link rel="stylesheet" href="../../public/css/jass.css" />
		<link rel="stylesheet" href="../../public/css/style.css" />
		<script src="../../public/js/index.js"></script>
	</head>
	<body>
		<!-- Background image with some opacity -->
		<div class="mainBackground">
			<div class="topNav">
				<div class="loginButton"><a>LOGIN</a></div>
				<div class="makeAccButton"><a>CREATE ACCOUNT</a></div>
			</div>
			<div class="header">
				<div class="typewriter"><h1>G A M E R ' S H I D E O U T</h1></div>
			</div>
			<!-- This is where handlebars will affect page content -->
			<div class="searchBar">
				<div class="search">
					<input type="text" class="input" placeholder="Search Your Game" />
				</div>
				<div><button class="searchButton">Search</button></div>
			</div>
		</div>
		<!-- Trending will remain static at the bottom of the webpage -->
		<div class="trendingSection">
			<div class="trendingHeader">
				<h4>T R E N D I N G</h4>
			</div>
			<div class="trendingGallery">
				<div class="trendingGames">
					<div class="trendingImg">
						<img src="../../public/images/game-placeholder-image.jpg" />
					</div>
					<div class="trendingTitle">T I T L E</div>
					<div class="trendingRating">R A T I N G</div>
				</div>
				<div class="trendingGames">
					<div class="trendingImg">
						<img src="../../public/images/game-placeholder-image.jpg" />
					</div>
					<div class="trendingTitle">T I T L E</div>
					<div class="trendingRating">R A T I N G</div>
				</div>
				<div class="trendingGames">
					<div class="trendingImg">
						<img src="../../public/images/game-placeholder-image.jpg" />
					</div>
					<div class="trendingTitle">T I T L E</div>
					<div class="trendingRating">R A T I N G</div>
				</div>
				<div class="trendingGames">
					<div class="trendingImg">
						<img src="../../public/images/game-placeholder-image.jpg" />
					</div>
					<div class="trendingTitle">T I T L E</div>
					<div class="trendingRating">R A T I N G</div>
				</div>
				<div class="trendingGames">
					<div class="trendingImg">
						<img src="../../public/images/game-placeholder-image.jpg" />
					</div>
					<div class="trendingTitle">T I T L E</div>
					<div class="trendingRating">R A T I N G</div>
				</div>
			</div>
		</div>
		<!-- This is the game profile review section -->
		<div class="gameCard">
			<div class="cardHeader">
				<h4>Game Title</h4>
			</div>
			<div class="gameImg">
				<img src="../../public/images/game-placeholder-image.jpg" />
			</div>
			<div class="gameRating">
				<h4>RATING</h4>
			</div>
			<div class="gameProfile">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at
					nulla elit. Maecenas finibus, tortor ac blandit lacinia, erat ex
					varius enim, ac posuere mi tortor id mi. Nulla malesuada sem nec ex
					dignissim, hendrerit interdum massa suscipit. Nam condimentum
					porttitor libero, non hendrerit dui. Nam ultrices auctor iaculis.
					Vivamus eros orci, iaculis sed efficitur eu, ornare sit amet mauris.
					Donec finibus neque eget odio efficitur tempus. Suspendisse potenti.
					Suspendisse vitae eros quam. Duis in turpis urna. Nulla eu felis vel
					nulla sodales molestie eget a purus. Quisque quis neque nec augue
					interdum euismod at quis tortor. Mauris leo ex, tincidunt non nisi et,
					tristique finibus urna. Suspendisse blandit, enim eget varius cursus,
					lorem nulla facilisis odio, molestie iaculis dolor mauris auctor
					risus. Curabitur vel enim a urna posuere lobortis et a eros. Curabitur
					in lorem nec arcu finibus hendrerit non id quam. Aenean ac arcu id
					enim dictum laoreet nec non lectus. Pellentesque facilisis vestibulum
					mi, at fermentum libero tincidunt sed. In sit amet leo feugiat,
					euismod sapien id, consequat arcu. Donec turpis lorem, ornare ac
					laoreet venenatis, fermentum tincidunt diam. Mauris consequat mollis
					mi, nec facilisis lectus sodales at. Donec vitae tortor nisi. Duis
					laoreet ligula leo, nec sodales elit ultrices at. Vivamus porta in
					turpis eu accumsan. Donec ac metus ultricies, pharetra dui a, eleifend
					mi.
				</p>
			</div>
		</div>
		<div class="gameReviewCard">
			<div class="reviewTitle">
				<h4>R E V I E W S</h4>
			</div>
			<div class="reviewPost">
				<p class="reviewContent">This is a section for the users' game reviews.</p>
				<h6 class="reviewUsername">This is the person's username who left that review</h6>
				<p class="reviewDateTime">This is the datetime of the review</p>
			</div>
		</div>
	</body>
</html>
