<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gamer's Hideout - A Game Review Forum</title>
	<link rel="stylesheet" href="css/jass.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<!-- Background image with some opacity -->
	{{!-- Hiding the background image if logged in --}}

	{{#if landingPage}}
	<div class="mainBackground">
		{{/if}}

		<div class="topNav">

			{{#if loggedIn}}

			<div class="welcomeMsg">
				<div class="welcomeUser"><a>WELCOME, <span class="loginUsername">{{user_name}}</span></a></div>
			</div>

			{{/if}}

			<div class="header typewriter">
				<h1><a href="/">G A M E R S - H I D E O U T</a></h1>
			</div>
			<div class="navButtons">
				<div class="aboutUsButton"><a href="/aboutUs">ABOUT US</a></div>

				{{!-- display login/out depending on login statuss --}}

				{{#if loggedIn}}
				<div class="userProfileButton"><a href='/profile'>PROFILE</a></div>
				<div class="logoutButton"><a>LOGOUT</a></div>

				{{else}}
				<div class="loginButton"><a href='/login'>LOGIN</a></div>
				<div class="makeAccButton"><a href='/register'>CREATE ACCOUNT</a></div>

				{{/if}}

			</div>
		</div>

		<!-- Added logic to change the search bar placement depending on if they are at landing page or not. -->

		{{#if landingPage}}
		<div class="searchBar">
			<div class="search">
				{{else}}
				<div class="searchBar-lite">
					<div class="search-lite">
						{{/if}}


						<input type="text" class="input" id="searchBar" placeholder="Search..."  />
						<button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
						<button type="all-games" class="searchGameButton">All Games <i class="fa fa-gamepad" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<!-- This is where handlebars willdaffect page content -->
		
		{{{ body }}}


		<footer class="mainFooter">
			<div class="contactUs">
				<h2 class="contactUsTitle">CONTACT US</h2>
				<div class="contactUsIcons">
					<a class="contactUsIcons" href="mailto:thedevteam@gamers-hideout.com.au"><i class="fas fa-envelope-square"></i></a>
					<a class="contactUsIcons" href="https://github.com/camball96/project-2" target="_blank"><i class="fab fa-github"></i></a>
				</div>
			</div>
			<div class="webDesigners">
				<h6>© Designed by Ty, Cam, Aaron, Nick</h6>
			</div>
		</footer>


</body>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/index.js"></script>

</html>