<div class="profileSection">
	<div class="row">
		<div class="profileCard">
			<div class="profileHeader">
				<h4>ABOUT US</h4>
			</div>
			<div class="aboutUs">
				<p class="aboutUsDetails">
					Gamers Hideout is your one-stop shop to get the latest game details,
					reviews and update information! Share your thoughts and comments about
					each up and coming game with your fellow game enthusiasts.
				</p>
			</div>
		</div>
		<div class="profileCard">
			<div class="profileHeader">
				<h4>DEVELOPERS</h4>
			</div>
			<div class="devDetails">
				<p class="devName">Ty Saunders -
					<a
						class="github"
						href="https://github.com/genkidesu"
						target="_blank"
					>GitHub Profile</a></p>
			</div>
			<div class="devDetails">
				<p class="devName">Cam Ball -
					<a
						class="github"
						href="https://github.com/camball96"
						target="_blank"
					>GitHub Profile</a></p>
			</div>
			<div class="devDetails">
				<p class="devName">Nick Bainbridge -
					<a
						class="github"
						href="https://github.com/Frostwrath"
						target="_blank"
					>GitHub Profile</a></p>
			</div>
			<div class="devDetails">
				<p class="devName">Aaron Au Yoong -
					<a
						class="github"
						href="http://github.com/aaronauyoong"
						target="_blank"
					>GitHub Profile</a></p>
			</div>
		</div>
	</div>
</div>