<!-- Loop over each object in the review array -->
<h2>{{allReviews.game_name}}</h2>
{{#each allReviews.reviews as |review| }}
{{>reviews review}} {{!-- links to the 'partials' view --}}
{{/each}}

<link rel="stylesheet" href="/css/style.css" />
<script src="/js/register.js"></script>
<script src="/js/logout.js"></script>