{{!-- keeping a copy of the original gameReview.handlebars file below --}}
<h2>{{allReviews.game_name}}</h2>
<div class="gameReviewCard">
    			<div class="reviewTitle">
       				<h4>R E V I E W S</h4>
{{#each allReviews.reviews as |review| }}
{{>reviews review}} {{!-- links to the 'partials' view --}}
{{/each}}

<link rel="stylesheet" href="/css/style.css" />
<script src="/js/register.js"></script>
<script src="/js/logout.js"></script>