<div class="gameCard">
	<div class="cardHeader">
		<h4>{{ game.game_name }}</h4>
	</div>
	<div class="gameImg">
		<img src="../../public/images/{{game.game_picture}}.jpg" />
	</div>
	<div class="gameRating">
		<h4>{{ review.review_score }}</h4>
	</div>
	<div class="gameProfile">
		<p>
			{{ game.game_desc }}
		</p>
	</div>
</div>