<div class="gameReviewCard">
	<div class="reviewTitle">
		<h4>R E V I E W S</h4>
	</div>
	<div class="reviewPost">
		<p class="reviewContent">{{ reviewContent }}</p>
		<h6 class="reviewUsername">{{ reviewUsername }}</h6>
		<p class="reviewDateTime">{{ reviewDateTime }}</p>
	</div>
</div>