<div class="gameCard">
	<div class="cardHeader">
		<h4>Game Title</h4>
	</div>
	<div class="gameImg">
		<img src="../../public/images/game-placeholder-image.jpg" />
	</div>
	<div class="gameRating">
		<h4>{{ gameRating }}</h4>
	</div>
	<div class="gameProfile">
		<p>
			{{ gameProfile }}
		</p>
	</div>
</div>