{{! this is the homepage handlebars }}
{{! Login and Logout }}
{{! trending container. }}
{{! this is homepage handlebars --modded this file as workaround to empty pull req issue }}

<!-- Trending will remain static at the bottom of the webpage -->

<div class="trendingSection">
	<div class="trendingHeader">
		<h4>T R E N D I N G</h4>
	</div>
	<div class="trendingGallery">
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/gameProfile/3"><img src="/images/pokemon-sword.png"
						alt="This is an image of the Pokemon Sword game cover" /></a>
			</div>
			<!-- Note: consider removing the trendingTitle div if game images will come with their titles default in the pic -->
			<div class="trendingTitle"><a>POKEMON SWORD</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/gameProfile/4"><img src="/images/fortnite.jpeg"
						alt="This is an image of the Fortnite - Save the World game cover" /></a>
			</div>
			<div class="trendingTitle"><a>FORTNITE</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/gameProfile/7"><img src="/images/halo-inf.jpeg"
						alt="This is an image of the Halo Infinite game cover" /></a>
			</div>
			<div class="trendingTitle"><a>HALO INFINITE</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/gameProfile/4"></a><img src="/images/pokemon-shield.jpeg"
					alt="This is an image of the Pokemon Shield game cover" />
			</div>
			<div class="trendingTitle"><a>POKEMON SHIELD</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/gameProfile/2"><img src="/images/cod-cold-war.jpeg"
						alt="This is an image of the Call Of Duty - Cold War game cover" /></a>
			</div>
			<div class="trendingTitle"><a>CALL OF DUTY - COLD WAR</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
	</div>
</div>