{{! this is the homepage handlebars }}
{{! Login and Logout }}
{{! trending container }}
{{! this is homepage handlebars --modded this file as workaround to empty pull req issue }}

<div class="searchBar">
	<div class="search">
		<input type="text" placeholder="Search Your Game" />
	</div>
	<div class="searchButton"><button>Search</button></div>
</div>