{{! this is the homepage handlebars }}
{{! Login and Logout }}
{{! trending container }}
{{! this is homepage handlebars --modded this file as workaround to empty pull req issue }}

<div class="trendingSection">
	<div class="trendingHeader">
		<h4>T R E N D I N G</h4>
	</div>
	<div class="trendingGallery">
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<a href="/reviews/2"><img src="/images/pokemon-sword.png" /></a>
			</div>
			<!-- Note: consider removing the trendingTitle div if game images will come with their titles default in the pic -->
			<div class="trendingTitle"><a>T I T L E</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<img src="/images/pokemon-sword.png" />
			</div>
			<div class="trendingTitle"><a>T I T L E</a></div>
			<!-- <div class="trendisngRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<img src="/images/pokemon-sword.png" />
			</div>
			<div class="trendingTitle"><a>T I T L E</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<img src="/images/pokemon-sword.png" />
			</div>
			<div class="trendingTitle"><a>T I T L E</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
		<div class="trendingGames">
			<div class="trendingImg img-hover-zoom--colorize">
				<img src="/images/pokemon-sword.png" />
			</div>
			<div class="trendingTitle"><a>T I T L E</a></div>
			<!-- <div class="trendingRating">R A T I N G</div> -->
		</div>
	</div>
</div>