{{! this is the homepage handlebars }}
{{! Login and Logout }}
{{! trending container }}
{{! this is homepage handlebars --modded this file as workaround to empty pull req issue }}

<!-- Trending will remain static at the bottom of the webpage -->
		<div class="trendingSection">
			<div class="trendingHeader">
				<h4>T R E N D I N G</h4>
			</div>
			<div class="trendingGallery">
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="/images/pokemon-sword.png" />
					</div>
					<!-- Note: consider removing the trendingTitle div if game images will come with their titles default in the pic -->
					<div class="trendingTitle"><a>POKEMON SWORD</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="/images/fortnite.jpeg" />
					</div>
					<div class="trendingTitle"><a>FORTNITE</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="/images/halo-inf.jpeg" />
					</div>
					<div class="trendingTitle"><a>HALO INFINITE</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="/images/pokemon-shield.jpeg" />
					</div>
					<div class="trendingTitle"><a>POKEMON SHIELD</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
				<div class="trendingGames">
					<div class="trendingImg img-hover-zoom--colorize">
						<img src="/images/cod-cold-war.jpeg" />
					</div>
					<div class="trendingTitle"><a>CALL OF DUTY - COLD WAR</a></div>
					<!-- <div class="trendingRating">R A T I N G</div> -->
				</div>
			</div>
		</div>