{{!-- This is the handlebars file for user login. --}}

    <div class="profileSection">
            <div class="profileCard">
                <div class="profileHeader">
                    <h4>L O G I N</h4>
                </div>
                <p class="profileDetails" id="problem" style="color:green"></p>

                <div class="profileUsername">
                    <p class="profileDetails">Username: </p> <input class="profileDetails" id="username"></input>
                </div>

                <div class="profilePassword">
                    <p class="profileDetails">Password: </p>
                    <input class="profileDetails" type="password" id="password"></input>
                </div>
                <div class="updatePassword">
                    <p class="updateBtn" id="login">LOG IN</p>
                    {{!-- id update pass --}}
                </div>
            </div>
    </div>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/login.js"></script>