{{!-- This is the handlebars file for user login --}}
<div class="placehold">

    <div class="profileSection">
        <div class="profileCard">
            <div class="profileHeader">
                <h4>C R E A T E - A C C O U N T</h4>
            </div>
            <p class="profileDetails" id="problem" style="color:green"></p>


            <div class="registerRow">
                <div class="col-25">
                    <label for="profileUsername">Username: </label>
                </div>
                <div class="col-75">
                    <input class="profileDetails" id="username"></input>
                </div>
            </div>
            <div class="registerRow">
                <div class="col-25">
                    <label for="profileEmail">EmailAddr:</label>
                </div>
                <div class="col-75">
                    <input class="profileDetails" id="email"></input>
                </div>
            </div>
            <div class="registerRow">
                <div class="col-25">
                    <label for="profilePassword">Password: </label>
                </div>
                <div class="col-75">
                    <input class="profileDetails" id="password" type="password"></input>
                </div>
            </div>
            <div class="createAccount">
                <p class="createAccount" id="join">CREATE ACCOUNT</p>
                {{!-- id update pass ....class= updateBtn--}}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/register.js"></script>