<div class="placehold">

    <section>
        <div>Username : </div>
        <input id='username' type='text'></input>
        <div>Email : </div>
        <input id='email' type='text'></input>
        <div>Password : </div>
        <input id='password' type='text'></input>
        <div id='problem' style='color:white'> </div>
        <button class='createAccount' id='signup'>Create Account</button>
    </section>

</div>

<link rel="stylesheet" href="./css/style.css" />
<script src="/js/register.js"></script>