{{!-- handlebars for search results (based off trending section) --}}
<div class="trendingGallery">
    <div class="trendingHeader">
        <h4>SEARCH RESULTS</h4>
    </div>
    {{#if searchResult}}
    {{!-- placeholder code --}}
    {{#each searchResult as |game| }}
    {{>results game}}


    {{/each}}
</div>
{{else}}
<div class="trendingImg">
    no results found - you can add a new game here
    <img src="/images/placeholder" />
</div>
{{/if}}

&nbsp;
<div class="needsCSS">
    <div class="needsCSS" style="color: white;">
        Didn't find a match? Click to add new game :
    </div>
    <div name="needCSS" class="updatePassword" id="buttonID">
        <p class="updateBtn">
            ADD GAME</p>
    </div>
</div>

</div>
<script src="/js/searchresults.js"></script>