{{!-- handlebars for search results (based off trending section) --}}
<div class="trendingGallery">
    <div class="trendingHeader">
        <h4>SEARCH RESULTS</h4>
    </div>
    {{#if searchResult}}
    {{!-- placeholder code --}}
    {{#each searchResult as |game| }}
    {{>results game}}
    {{/each}}
    {{else}}
    <div class="trendingImg">
        no results found - you can add a new game here


        <img src="/images/placeholder" />
    </div>
    {{/if}}

    {{!-- this needs refactoring once we get search working --}}
    {{!-- {{#each gameInfo as |game| }}
    <div class="trendingImg">
        {{ game.game_title }}

        <img href="/review/{{game.id}}" src="/images/{{ game.picture }}.jpg" />
    </div>
    {{/each}} --}}
</div>