<div class="searchGallery">
    <div class="searchHeader">
        <h1>SEARCH RESULTS</h1>
    </div>
    <div class="searchResults">
        {{#if searchResult}}
        {{#each searchResult as |game| }}
        {{>games game}}
        {{/each}}
    </div>
</div>
{{else}}
<div class="noResults">
    <h2>NO RESULTS FOUND - you can add a new game below!</h2>
</div>
{{/if}}
&nbsp;
<div class="addNewGame">
    <div class="addGameForm">
        <div>
            <p>
                Didn't find a match?
                Click the button below to add a new game:
            </p>
        </div>
        <div id="buttonID">
            <p class="addGameBtn">ADD GAME</p>
        </div>
    </div>
</div>
</div>
<script src="/js/searchresults.js"></script>