{{!-- handlebars for search results (based off trending section) --}}
<div class="searchGallery">
    <div class="searchHeader">
        <h1>SEARCH RESULTS</h1>
    </div>
    <div class="searchResults">
        {{#if searchResult}}
        {{!-- placeholder code --}}
        {{#each searchResult as |game| }}
        {{>games game}}
        {{/each}}
    </div>
</div>
{{else}}
<div class="searchImg">
    <p>No results found - you can add a new game below!</p>
    <img src="/images/game-placeholder-image.jpg" />
</div>
{{/if}}

&nbsp;
<div class="addNewGame">
    <div class="addGameForm">
        <div>
            <p>
                Didn't find a match?
                Click the button below to add a new game:
            </p>
        </div>
        <div id="buttonID">
            <p class="addGameBtn">ADD GAME</p>
        </div>
    </div>

</div>

</div>
<script src="/js/searchresults.js"></script>