<section class="game-submit-section">
    <h1 class="submit-header">Submit a game you love!</h1>
    
</section>


<link rel="stylesheet" href="/css/style.css" />
<script src="/js/register.js"></script>
<script src="/js/logout.js"></script>