<div class="profileSection">
	<div class="row">
		<div class="profileCard">
			<div class="profileHeader">
				<h4>P R O F I L E</h4>
			</div>
			<p class="profileDetails" id="problem"></p>
			<div class="profileEmail">
				<p class="profileDetails">EmailAddr:</p><input class="profileDetails" id="userEmail"
					value="{{ profile.user_email }}"></input>
			</div>
			<div class="updateEmail">
				<p class="updateBtn" id="email">UPDATE EMAIL</p>
			</div>
			<div class="profileUsername">
				<p class="profileDetails">Username:</p> <input class="profileDetails" id="userN"
					value="{{ profile.user_name }}"></input>
			</div>
			<div class="updateUsername">
				<p class="updateBtn" id="username">UPDATE USERNAME</p>
			</div>
			<div class="profilePassword">
				<p class="profileDetails">Password:</p>
				<input class="profileDetails" type="password" id="passW" placeholder="Password placeholder"></input>
			</div>
			<div class="updatePassword">
				<p class="updateBtn" id="password">UPDATE PASSWORD</p>
			</div>
			<div class="deleteProfile">
				<p id="deleteProfileBtn" class="deleteBtn">DELETE PROFILE</p>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="/css/style.css" />
<script src="/js/userProfile.js"></script>