/* Custom Fonts */
@font-face {
	font-family: "elixiaregular";
	src: url("../fonts/webfontkit-20210601-062142/elixia-webfont.woff2")
			format("woff2"),
		url("../fonts/webfontkit-20210601-062142/elixia-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

/* this is for static styles */

:root {
	--midnightblack: black;
	--lavender: rgb(158, 129, 158);
	--lilac: rgb(176, 176, 240);
	--purewhite: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "elixiaregular", sans-serif;
}

p {
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
	background-color: var(--midnightblack);
}

body {
	font-size: 16px;
}

nav {
	background: var(--midnightblack);
	padding: 0 15px;
}

a {
	color: var(--purewhite);
	text-decoration: none;
	cursor: pointer;
}

a :hover {
	text-decoration: none;
	color: var(--purewhite);
}

img {
	max-width: 100%;
	max-height: 100%;
}

.topNav {
	display: flex;
	background-color: var(--midnightblack);
	width: auto;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	align-content: flex-start;
	/* align-self: center;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 3rem;  */
	padding: 1rem 2rem;
	font-family: "elixiaregular", sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: var(--midnightblack);
	color: var(--purewhite);
}

.header h1 {
	font-size: 3rem;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid var(--lilac); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--lilac);
	}
}

.loginButton,
.makeAccButton,
.userProfileButton,
.logoutButton {
	align-items: flex-end;
	justify-content: flex-end;
	align-self: flex-end;
	justify-content: flex-end;
	text-align: right;
	font-family: "elixiaregular", sans-serif;
	font-size: 1.5rem;
	font-weight: 900;
	width: auto;
	padding: 0.5rem;
}

.loginButton :hover {
	color: var(--lavender);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.makeAccButton :hover {
	color: var(--lavender);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.userProfileButton :hover {
	color: var(--lavender);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.logoutButton :hover {
	color: var(--lavender);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.mainBackground {
	background-image: url("../images/background-image.jpeg");
	height: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 90%;
}

.searchBar {
	display: flex;
	margin: 20% auto;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.search {
	width: auto;
}

.input {
	padding: 10px;
	box-shadow: var(--midnightblack);
	border-radius: 5px;
	width: 100%;
	font-family: monospace;
}

.searchButton {
	width: auto;
	padding: 10px;
	border-radius: 5px;
	font-family: monospace;
	background-color: var(--purewhite);
}

.searchButton:hover {
	color: var(--lavender);
	background-color: darkgray;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.trendingGallery {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "elixiaregular", sans-serif;
	font-style: normal;
	flex-wrap: wrap;
	width: auto;
	background-color: var(--midnightblack);
	color: var(--purewhite);
}

.trendingHeader,
.profileHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "elixiaregular", sans-serif;
	font-style: normal;
	flex-wrap: wrap;
	width: auto;
	background-color: var(--midnightblack);
	color: var(--purewhite);
}

.trendingHeader h4 {
	font-size: 3rem;
}

.trendingGames {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.trendingImg {
	height: 250px;
	padding-right: 1rem;
}

.trendingImg:hover {
	background: var(--lilac);
	box-shadow: 0 0 50px var(--lilac);
	transition: 0.5s;
}

.trendingTitle {
	display: inline-block;
	background-color: var(--midnightblack);
	color: var(--purewhite);
	font-size: 2rem;
	justify-content: center;
	align-self: center;
}

.trendingTitle:hover {
	text-decoration: none;
	transition: 1s;
	color: var(--lavender);
	text-shadow: 0 5px 10px var(--purewhite);
}

.row {
	align-self: center;
	justify-content: center;
}

/* DEFAULT CARD STYLING */
.gameCard,
.gameReviewCard,
.profileCard,
.result-box {
	background-color: var(--midnightblack);
	color: var(--purewhite);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 0.1rem solid var(--purewhite);
	border-radius: 10px;
	width: 500px;
}

.cardHeader {
	display: inline-block;
	justify-content: center;
	align-items: center;
	font-family: "elixiaregular", sans-serif;
	font-size: 3rem;
	font-style: normal;
	flex-wrap: wrap;
	width: auto;
	background-color: var(--midnightblack);
	color: var(--purewhite);
}

.gameTitle {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: larger;
	text-align: center;
}

.gameImg {
	display: inline-block;
	height: 500px;
	padding: 0.5rem;
}

.gameImg img {
	border-radius: 10px;
}

.gameProfile {
	background-color: var(--midnightblack);
}

/* GAME REVIEW CARD */

.reviewPost {
	border: 2px solid var(--purewhite);
	border-radius: 10px;
	padding: 10px;
}

/* .reviewContent {
} */

.reviewUsername,
.reviewScore,
.reviewDateTime {
	font-style: italic;
	font-size: small;
	text-align: right;
}

/* Star Rating styling */
.gameRate {
	float: left;
	justify-content: center;
	height: 46px;
	padding: 0 10px;
}
.gameRate:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.gameRate:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
}
.gameRate:not(:checked) > label:before {
	content: "★ ";
}
.gameRate > input:checked ~ label {
	color: #ffc700;
}
.gameRate:not(:checked) > label:hover,
.gameRate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.gameRate > input:checked + label:hover,
.gameRate > input:checked + label:hover ~ label,
.gameRate > input:checked ~ label:hover,
.gameRate > input:checked ~ label:hover ~ label,
.gameRate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

/* USER PROFILE CARD  */

.profileSection {
	display: flex;
	margin: 2rem;
	justify-content: center;
}

.profileHeader {
	margin: 1rem;
}

.profileHeader h4 {
	font-size: 3rem;
}

/* .profileMain {
	display: flex;
} */

.profileEmail,
.profileUsername,
.profilePassword {
	display: flex;
	text-align: left;
	justify-content: center;
	align-self: center;
	padding: 1rem;
}

.updateEmail,
.updateUsername,
.updatePassword {
	cursor: pointer;
	background-color: var(--midnightblack);
	color: var(--lilac);
}

.updateBtn {
	border-radius: 5px;
	padding: 5px;
}

.updateBtn:hover {
	transition: 0.5s;
	background-color: var(--lilac);
	color: var(--midnightblack)
}

.deleteProfile {
	display: flex;
	font-size: small;
	align-self: flex-end;
	cursor: pointer;
	color: grey;

}


.deleteBtn {
	border-radius: 5px;
	padding: 5px;
}

.deleteBtn:hover {
	transition: 0.5s;
	background-color: rgb(252, 159, 159);
	color: var(--midnightblack)
}
