/* Custom Fonts */
@font-face {
	font-family: "elixiaregular";
	src: url("../fonts/webfontkit-20210601-062142/elixia-webfont.woff2")
			format("woff2"),
		url("../fonts/webfontkit-20210601-062142/elixia-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

/* this is for static styles */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

nav {
	background: #222;
	padding: 0 15px;
}

a {
	color: white;
	text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.topNav {
	display: flex;
	justify-content: flex-end;
	background-color: #222;
	width: auto;
}

.loginButton {
	display: inline-block;
	font-family: "elixiaregular", sans-serif;
	font-size: 1.5rem;
	font-weight: 900;
	width: auto;
	padding: 0.5rem;
}

.loginButton :hover {
	color: rgb(158, 129, 158);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.makeAccButton {
	display: inline-block;
	font-family: "elixiaregular", sans-serif;
	font-size: 1.5rem;
	font-weight: 900;
	width: auto;
	padding: 0.5rem;
}

.makeAccButton :hover {
	color: rgb(158, 129, 158);
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
}

.mainBackground {
	background-image: url("../images/background-image.jpeg");
	height: 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 90%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	margin: 0.5rem;
	font-family: "elixiaregular", sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: black;
	color: white;
}

.header h1 {
	font-size: 3rem;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid rgb(176, 176, 240); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: rgb(176, 176, 240);
	}
}

.searchBar {
    display: flex;
    margin: 20% auto;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.search {
    width: auto;

}

.input {
    padding: 10px;
    box-shadow: black;
    border-radius: 5px;
    width: 100%;
    font-family:monospace;
}
.searchButton {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-family:monospace;
    background-color: white;
}
.searchButton:hover {
    color: rgb(158, 129, 158);
    background-color: darkgray;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.trendingGallery {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "elixiaregular", sans-serif;
	font-style: normal;
	flex-wrap: wrap;
	width: auto;
	background-color: #222;
	color: white;
}

.trendingHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "elixiaregular", sans-serif;
	font-style: normal;
	flex-wrap: wrap;
	width: auto;
	background-color: #222;
	color: white;
}

.trendingHeader h4 {
	font-size: 3rem;
}

.trendingGames {
	flex-direction: column;
}

.trendingImg {
	height: 200px;
	padding-right: 0.5rem;
}

/* .trendingImg :hover {
 
} */

.trendingTitle, .trendingRating {
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 2rem;
}

